nav {
  background: #2680c0;
  padding: 1.25rem 2rem;
}
.nav-center{
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
}

nav h3 {
  /* margin-bottom: 0; */
  color: white;
  /* border: 2px solid lightblue;  */
}
.nav-container {
  display: block;
  position: relative;
  /* border: 2px solid red; */
}

.amount-container{
  position: absolute;
  top: -0.75rem;
  right: -0.55rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: trans;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid lightgreen; */
  color: white;
}
.icon{
  font-size: 2rem;
}

.total-amount {
  color: white;
  /* margin-bottom: 0; */
  font-size: 1.25rem;
  /* z-index: 2 ; */
}