

.nav-center {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: block;
  position: relative;
}

.amount-container {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: hsl(205, 100%, 21%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: white;
  margin-bottom: 0;
  font-size: 1.25rem;
}
